<body>
	<div class="container-fluid">
		<br>
		<div class="row">
            <div class="col-md-10 col-md-offset-1" style="border: 1px solid transparent;border-radius: 12px;background-color: white">
                <p class="studentTitle">edit student</p>
                <hr>
                <form role="form" class="form-horizontal" #form="ngForm" (ngSubmit)="studentData(form.value)">
                    <div class="form-body">

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">Name</label>
                            <div class="col-md-10">
                                {{studentName}}
                                <input type="text" name="name" class="form-control" id="form_control_1" value= "{{studentName}}" required maxlength="50" #name="ngModel" ngModel>
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                    <div *ngIf="name.errors.required">
                                        Student Name is required.
                                    </div>
                                    <div *ngIf="name.errors.maxlength">
                                        Name must be maximum 50 characters long.
                                    </div>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">Phone</label>
                            <div class="col-md-10">
                                {{studentMobile}}
                                <input type="text" name="mobile" required pattern="^(?=[0-9]*$)(?:.{11})$" #mobile="ngModel" value="{{studentMobile}}" class="form-control" id="form_control_1" ngModel>
                                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                                    <div *ngIf="mobile.errors.required">
                                       Phone number is required.
                                    </div>
                                    <div  *ngIf="mobile.errors && mobile.errors.pattern">
                                        Please enter 11 digits mobile number.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Faculty</label>
                            <div class="col-md-10" >
                                {{facultyName}}
                                <select class="form-control" required name="faculty" #faculty="ngModel" ngModel>
                               
                                    <option value="{{faculty" selected> Select faculty...</option>
                                    <option value="Eng"> Engineering</option>
                                    <option value="BI"> Bussiness informatics</option>
                                    <option value="Ph"> Pharmacy</option>
                                    <option value="AA"> Applied Arts</option>
                                </select>
                                <div *ngIf="faculty.invalid && (faculty.dirty || faculty.touched)" class="alert alert-danger">
                                    <div *ngIf="faculty.errors.required">
                                        Faculty is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">Date of birth</label>
                            <div class="col-md-10">
                                {{date}}
                                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" required class="form-control" name="dateOfBirth" id="form_control_1" #dateOfBirth="ngModel" ngModel ></my-date-picker>
                                <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="alert alert-danger">
                                    <div *ngIf="dateOfBirth.errors.required">
                                        Date of birth is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">Address</label>
                            <div class="col-md-10">
                                {{studentAddress}}
                                <input type="text" name="address" value="{{studentAddress}}" class="form-control" id="form_control_1" #address="ngModel" ngModel>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">Image</label>
                            <div class="fileinput fileinput-new col-md-10" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new"> choose picture </span>
                                        <span class="fileinput-exists"> change </span>
                                        <input type="file" name="image" id="image" #image="ngModel" accept=".jpg,.png.jpeg" (change)="onFileChanged($event)" ngModel>              
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> delete </a>
                                </div>
                                <div><p class="warning">{{fileExtensionMessage}}</p></div>
                                <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
                                   <!--  <div *ngIf="image.errors.required">
                                        image is required.
                                    </div> -->
                                    <div *ngIf="fileExtensionMessage==true" class="alert alert-danger">
                                        {{fileExtensionMessage}}
                                    </div>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>                         
                    </div>               
            		<hr>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" [disabled]="form.form.invalid" [disabled]='fileExtensionError' class="btn blue">Save</button>&nbsp;
                                <a routerLink="../home" ><button type="button" class="btn default">Back</button></a>
                            </div>
                            <ngx-toasta [position]="'top-right'"></ngx-toasta>
                        </div>
                        <br>
                </form> 
            </div>
        </div>
        <br>
	</div>
</body>