
/*TITLE*/
.uni{
	position: relative;
	animation-name: title;
	animation-duration: 5s;
	animation-iteration-count: 1;
	}
@keyframes title 
{
	0%   { left:-100px; top:0px;}
	25%  { color:gray;left:100px; top:0px;}
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{

  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 30px;
  height: 22px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -150px 0 0 -50px;
  padding: 20px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  margin-left:33%; 
  font-size: 17px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/*CONFIRMATION MODAL*/
	.modal-confirm {		
		color: #636363;
		width: 550px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;        
	}
	.modal-confirm .modal-header {
        padding: 0 15px;
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
        display: inline-block;
		font-size: 26px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
    .modal-confirm .modal-body {
        color: #999;
    }
	.modal-confirm .modal-footer {
		background: #ecf0f1;
		border-color: #e6eaec;
		text-align: right;
		margin: 0 -20px -20px;
		border-radius: 0 0 5px 5px;
	}	
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		transition: all 0.4s;
        border: none;
        padding: 8px 20px;
        outline: none !important;
    }	
    .modal-confirm .btn-info {
        background: #b0c1c6;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #92a9af;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.modal-confirm .modal-footer .btn + .btn {
		margin-left: 10px;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}